// Import
@import "./_fonts.scss";

// Vars
$fontSizes: 0, 8, 10, 12, 14, 16, 18, 24, 36, 48, 72, 96, 144;
$fontWeights: normal, 200, 300, 500, bold, 900;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


body {
	font: 400 14px IRANSans;
	color: #212121;
	direction: rtl;
	overflow-x: hidden;
	background-color: #f8f9fa;
}

a, a:hover {
	text-decoration: none;
}

a:disabled, button:disabled {
	opacity: 0.8;
}

a, button, input, textarea {
	outline: none !important;
}

// font sizes
@each $size in $fontSizes {
	.font-size-#{$size} {
		font-size: #{$size}px;
	}
}

// font weight
@each $weight in $fontWeights {
	.font-weight-#{$weight} {
		font-weight: $weight;
	}
}