.table {
	thead {
		tr>th {
			height: 48px;
			vertical-align: middle;
			text-align: right;
			font-size: 14px;
			font-weight: 300;
			color: #607D8B;
			border: none;
			padding: 0 12px;
		}
	}

	tbody {
		tr>td {
			min-height: 54px;
			max-height: 86px;
			font-size: 14px;
			font-weight: 500;
			color: #455A64;
			text-align: left;
			vertical-align: middle;
			line-height: 2;
			padding: 7px 12px;
		}
	}
}