.item {
	position: relative;

	& > a {
		display: block;
		font-size: 15px;
		color: #5D6D7E;
		transition: all 325ms;
		-webkit-transition: all 325ms;
		-moz-transition: all 325ms;
		-o-transition: all 325ms;

		&:hover, &.active {
			color: #1976D2;
		}
	}
}