form {
	max-width: 80%;
	min-width: 80%;

	.title {
		h1 {
			color: #2E4053;
		}
	}

	.description {
		h4 {
			color: #607D8B;
		}

		p {
			color: #607D8B;
		}
	}

	.inputBox {
		.inputGroup {
			label {
				color: #455A64;
			}

			input {
				background-color: #f8f9fa;
				height: 48px;
				color: #78909C;

				&::placeholder {
					color: #90A4AE;
				}
			}

			.toggleType {
				top: 50%;
				left: 12px;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
			}
		}
	}

	.checkbox {
		label {
			&>span {
				font-size: 14px;
				margin: 0;
				padding: 0;

				svg {
					width: 24px;
					height: 24px;
				}

				&:nth-child(2) {
					color: #607D8B;
					margin-right: 7px;
				}
			}
		}
	}

	.reset {
		a {
			color: #2196F3;
		}
	}

	.submit {
		button {
			color: #fafafa;
			height: 52px;
		}
	}

	.signUp {
		span {
			color: #2E4053;

			a {
				color: #2196F3;
			}
		}
	}
}