@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Black.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font: 400 14px IRANSans;
  color: #212121;
  direction: rtl;
  overflow-x: hidden;
  background-color: #f8f9fa; }

a, a:hover {
  text-decoration: none; }

a:disabled, button:disabled {
  opacity: 0.8; }

a, button, input, textarea {
  outline: none !important; }

.font-size-0 {
  font-size: 0px; }

.font-size-8 {
  font-size: 8px; }

.font-size-10 {
  font-size: 10px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-24 {
  font-size: 24px; }

.font-size-36 {
  font-size: 36px; }

.font-size-48 {
  font-size: 48px; }

.font-size-72 {
  font-size: 72px; }

.font-size-96 {
  font-size: 96px; }

.font-size-144 {
  font-size: 144px; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-200 {
  font-weight: 200; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-500 {
  font-weight: 500; }

.font-weight-bold {
  font-weight: bold; }

.font-weight-900 {
  font-weight: 900; }

/*# sourceMappingURL=app.css.map */
