.login {
	min-width: 100vw;
	min-height: 100vh;

	.loginInner {
		min-width: 75vw;
		min-height: 85vh;
		border-radius: 24px;
		border: 1px solid #eee;
		box-shadow: 4px 4px 12px rgba(46, 64, 83, 0.07);
		-webkit-box-shadow: 4px 4px 12px rgba(46, 64, 83, 0.07);
		-moz-box-shadow: 4px 4px 12px rgba(46, 64, 83, 0.07);
		-o-box-shadow: 4px 4px 12px rgba(46, 64, 83, 0.07);

		.formSide,
		.helpSide {
			min-height: 85vh;
			height: 100%;
		}

		.formSide {
			.logo {
				top: 48px;
				left: 48px;

				a {
					color: #2E4053;
					text-shadow: 4px 4px 4px rgba(46, 64, 83,0.5);

					img {
						max-width: 28px;
						max-height: 28px;
					}
				}
			}
		}


		.helpSide {
			background: #f5f5f7 no-repeat scroll center;
			background-size: cover;

			.clipContent {
				background-image: linear-gradient(45deg, #2a7ffd, #428efd);
				opacity: .2;
			}
		}
	}
}